# You should not change this file. If you do, be sure to back it up
# Updating the package will overwrite it.

[intermediate]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always
crlDistributionPoints  = URI:${ENV::CACRLDP1},URI:${ENV::CACRLDP2}
keyUsage               = critical,keyCertSign,digitalSignature,cRLSign
basicConstraints       = critical,CA:true